
.image-arrow{

}
.image-youtube-logo{
    transition: 1s ease;

}
.image-youtube-logo:hover{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: 1s ease;
}